*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 50px;
  --marker-size: calc(var(--cell-size) * 0.9);
  --large-cell-size: 200px;
  --large-marker-size: calc(var(--large-cell-size) * 0.9);
}

body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, auto);
}

.board {
  width: 200px;
  height: 200px;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
  grid-template-columns: repeat(3, auto);
  border: 2px solid black;
}

.board.disable-click {
  pointer-events: none;
  background-color: lightgrey;
}

.board.allow-click {
  pointer-events: auto;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell.x,
.cell.circle,
.large-cell.large-x,
.large-cell.large-circle {
  cursor: not-allowed;
  pointer-events: none;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3),
.board:first-child,
.board:nth-child(2),
.board:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1),
.board:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3),
.board:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7),
.board:last-child,
.board:nth-child(8),
.board:nth-child(7) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.large-cell.large-x::before,
.large-cell.large-x::after,
.cell.circle::before,
.large-cell.large-circle::before {
  background-color: black;
}

.board .cell:not(.x):not(.circle):hover::before,
.board .cell:not(.x):not(.circle):hover::after {
  background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--marker-size) * 0.15);
  height: var(--marker-size);
}

.large-cell.large-x::before,
.large-cell.large-x::after {
  content: "";
  position: absolute;
  width: calc(var(--large-marker-size) * 0.15);
  height: var(--large-marker-size);
  background-color: black;
}

.cell.x::before,
.large-cell.large-x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.large-cell.large-x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.large-cell.large-circle::before,
.large-cell.large-circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

/* small circle css */

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--marker-size);
  height: var(--marker-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--marker-size) * 0.7);
  height: calc(var(--marker-size) * 0.7);
  background-color: white;
}

.board.disable-click .cell.circle::before,
.cell.circle.disable-click::before,
.board.disable-click .board.circle .cell:not(.x):not(.circle):hover::before,
.cell.circle.disable-click .cell:not(.x):not(.circle):hover::before {
  width: var(--marker-size);
  height: var(--marker-size);
}

.board.disable-click .cell.circle::after,
.cell.circle.disable-click::after,
.board.disable-click .board.circle .cell:not(.x):not(.circle):hover::after,
.cell.circle.disable-click .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--marker-size) * 0.7);
  height: calc(var(--marker-size) * 0.7);
  background-color: lightgrey;
}

/* large circle css */

.large-cell.large-circle::before {
  width: var(--large-marker-size);
  height: var(--large-marker-size);
}

.large-cell.large-circle::after {
  width: calc(var(--large-marker-size) * 0.7);
  height: calc(var(--large-marker-size) * 0.7);
  background-color: white;
}

.board.disable-click .large-cell.large-circle::before,
.large-cell.large-circle.disable-click::before {
  width: var(--large-marker-size);
  height: var(--large-marker-size);
}

.board.disable-click .large-cell.large-circle::after,
.large-cell.large-circle.disable-click::after {
  width: calc(var(--large-marker-size) * 0.7);
  height: calc(var(--large-marker-size) * 0.7);
  background-color: lightgrey;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
  border-radius: 20px;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}
